{% import "data/_data.html" as general %}

<section id=about class="section-healthy"  >
    <h2 class="section-title--big">Час налаштувати раціон і зайнятися здоровим довголіттям</h2>
    <div class="flx-row">
        <div class="column small-12 medium-6">
            <div class="flx-row text--center">
                <div class="column">Сервіс нутрігенетичних тестів</div>
                <div class="column">Сімейна клініка</div>
            </div>
            <div class="section-healthy--illustration">
                <img src="img/myhelix-clinic.svg">
            </div>
            <div class="flx-row">
                <div class="column section-healthy--text">
                    Зробіть нутрігенетичний тест Myhelix у клініці «Здорова сім’я» та отримайте
                </div>
                <div class="column section-healthy--text with-arrow">
                    <span class="section-healthy--hl">безкоштовну консультацію</span> найкращих лікарів щодо результатів вашого ДНК-тесту.
                </div>
            </div>
        </div>
        <div class="column small-12 medium-6"><img src="img/be-healthy-img.jpg"></div>
    </div>
</section>

<section id=myhelix class="section-myhelix">
    <h2 class="section-title--big with-border">Про Myhelix</h2>
    <p class="section-text">Перший український сервіс генетичних тестів, який допомагає кожному у виборі корисних продуктів і здорових рішень у харчуванні на основі генетичних особливостей організму.</p>
    <div class="flx-row">
        <div class="column small-12 medium-4">
            <div class="section-myhelix--illustration img-placeholder">
                <img src="img/about-myhelix-woble.png">
            </div>
            <div class="section-myhelix--caption">Аналіз проводиться у сертифікованій лабораторії WobleHelsinki, Фінляндія.</div>
        </div>
        <div class="column small-12 medium-4">
            <div class="section-myhelix--illustration img-placeholder">
                <img src="img/about-myhelix-gwas.png">
            </div>
            <div class="section-myhelix--caption">Працюємо із найновішими дослідженнями каталогу генетичних даних — Genome Wide Association Studies.</div>
        </div>
        <div class="column small-12 medium-4">
            <div class="section-myhelix--illustration img-placeholder">
                <img src="img/about-myhelix-3.png">
            </div>
            <div class="section-myhelix--caption">Лікарі-дієтологи складають персональні рекомендації зі здорового харчування і прораховують нутрієнтний склад
                страв і корисних для вас продуктів з математичною точністю.
            </div>
        </div>
    </div>
</section>

<section id=clinic class="section-clinic" >
    <h2 class="section-title--big with-border">Про клініку «Здорова сім’я»</h2>
    <p class="section-text">Клініка «Здорова сім’я» надає повний комплекс послуг у сфері профілактики і лікування різноманітних захворювань для всієї родини з використанням сучасних знань у медицині.</p>
    <div class="flx-row">
        <div class="column small-12 medium-4">
            <div class="section-clinic--illustration img-placeholder"><img src="img/clinic-icon-1.svg"></div>
            <div class="section-clinic--caption">Більше 10 років досвіду</div>
        </div>
        <div class="column small-12 medium-4">
            <div class="section-clinic--illustration img-placeholder"><img src="img/clinic-icon-2.svg"></div>
            <div class="section-clinic--caption">Лідер у галузі 2015</div>
        </div>
        <div class="column small-12 medium-4">
            <div class="section-clinic--illustration img-placeholder"><img src="img/clinic-icon-3.svg"></div>
            <div class="section-clinic--caption">Більше 3000 пацієнтів щомісяця</div>
        </div>
    </div>
</section>

<section class="section-doctors">
    <h2 class="section-title--big">Спеціалісти клініки «Здорова Сім'я»</h2>

    <div class="flx-row">
        <div class="column small-12 medium-6">
            <div class="flx-row collapse">
                <div class="column shrink">
                    <div class="section-doctors--img"><img src="img/sedova-doctor.jpg"></div>
                    <div class="section-doctors--name">Седова Олена Олександрівна</div>
                </div>
                <div class="column">
                    <div class="section-doctors--brief">
                        <div class="section-doctors--title">Сімейний лікар (терапевт, кардіолог, гастроентеролог)</div>
                        <div class="section-doctors--about-bold">Лікар вищої категорії<br>Медичний досвід 35 років</div>
                        <div class="section-doctors--about">Спеціалізується на лікуванні захворювань терапевтичного, гастроентерологічного профілей. Володіє методиками розшифровки ЕКГ, холтерівського моніторування, ехокардіографії, інтерпретації лабораторних показників, даних R-графії, МРТ і КТ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column small-12 medium-6">
            <div class="flx-row collapse">
                <div class="column shrink">
                    <div class="section-doctors--img"><img src="img/gordienko-doctor.jpg"></div>
                    <div class="section-doctors--name">Гордіенко Юлія Вікторівна</div>
                </div>
                <div class="column">
                    <div class="section-doctors--brief">
                        <div class="section-doctors--title">Терапевт,<br> гастроентеролог</div>
                        <div class="section-doctors--about-bold">Лікар вищої категорії<br>Медичний досвід 17 років
                        </div>
                        <div class="section-doctors--about">Діагностика та лікування захворювань терапевтичного, гастроентерологічного профілю, серцево-судинної системи.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id=howtodotest class="section-tests">
    <div class="flx-row">
        <div class="column small-12 medium-9">
            <div class="violet-box">
                <h2 class="section-title--big">Генетичні тести Myhelix</h2>
                <p>Myhelix допоможе обрати корисні для вас продукти і запропонує здорові рішення у харчуванні на основі генетичних особливостей вашого організму.</p>
            </div>
        </div>
    </div>
    <div class="section-tests--lines">
        <div class="flx-row" class="section-tests--list">
            <div class="column small-12 medium-4">
                <div class="section-tests--container">
                    <h3 class="section-tests--title">
                        Моє<br>вегетаріанство
                        <img src="img/my_veg.svg" class="section-tests--icon">
                    </h3>
                    <div class="section-tests--img-container">
                        <img src="img/my-vegan.png" srcset="img/my-vegan.png 1x, img/my-vegan-2x.png 2x" alt="">
                    </div>
                    <table class="section-tests--table">
                <tr>
                    <td>кількість генів, що аналізується</td>
                    <td>06</td>
                </tr>
                <tr>
                    <td>вартість одного тесту</td>
                    <td>1950 <strong>грн</strong></td>
                </tr>
            </table>
                </div>
        </div>
        <div class="column small-12 medium-4">
            <div class="section-tests--container">
                <h3 class="section-tests--title">
                    Мій<br>раціон
                    <img src="img/my_ratio.svg" class="section-tests--icon">
                </h3>
                <div class="section-tests--img-container">
                    <img src="img/my-ration.png" srcset="img/my-ration.png 1x, img/my-ration-2x.png 2x" alt="">
                </div>
                <table class="section-tests--table">
                    <tr>
                        <td>кількість генів, що аналізується</td>
                        <td>06</td>
                    </tr>
                    <tr>
                        <td>вартість одного тесту</td>
                        <td>1950 <strong>грн</strong></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="column small-12 medium-4">
            <div class="section-tests--container">
                <h3 class="section-tests--title">
                    Моя<br>турбота
                    <img src="img/my_turbota.svg" class="section-tests--icon">
                </h3>
                <div class="section-tests--img-container">
                    <img src="img/my-turbota.png" srcset="img/my-turbota.png 1x, img/my-turbota-2x.png 2x" alt="">
                </div>
                <table class="section-tests--table">
                <tr>
                    <td>кількість генів, що аналізується</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>вартість одного тесту</td>
                    <td>6500 <strong>грн</strong></td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    </div>
</section>

{% include "components/_index-slider.html" %}

<section id=howtodotest class="section-how">
    <h2 class="section-title--big">Як зробити ДНК-тест у клініці «Здорова Сім'я»?</h2>
    <div class="flx-row">
        <div class="column small-12 medium-4 item">
            <div class="section-how--illustration"><img src="img/saliva-example-icon.svg"></div>
            <div class="section-how--caption">Придбати тест у клініці “Здорова сім”я <strong>та зробити забір ДНК на місці</strong></div>
        </div>
        <div class="column small-12 medium-4 item">
            <div class="section-how--illustration"><img src="img/test-reg-icon.svg"></div>
            <div class="section-how--caption">Коли тест буде готовий <strong>менеджер клініки вам зателефонує</strong> для запису на прийом до лікаря</div>
        </div>
        <div class="column small-12 medium-4 item">
            <div class="section-how--illustration"><img src="img/calendar-icon.svg"></div>
            <div class="section-how--caption"><strong>Через 30 робочих днів</strong> прийти на безкоштовну консультацію, щоб отримати <strong>результати вашого аналізу</strong> та доступ до особистого кабінету на сайті <strong>myhelix.com.ua</strong></div>
        </div>
    </div>
</section>

<section id=whatiget class="section-whatiget">
    <div class="flx-row">
        <div class="column small-12 medium-6 large-8">
            <div class="violet-box">
            <h2 class="section-title--big">Що я отримаю?</h2>
                <ul class="bullet-list">
                    <li>результати вашого генетичного тесту разом із консультацією лікаря</li>
                    <li>після консультації, ви зможете переглядати свій результат в особистому кабінеті на сайті Майхілікс</li>
                    <li>індивідуальний план дій щодо покращення вашого здоров'я, додаткові призначення для кращої діагностики від лікаря</li>
                </ul>
            </div>
        </div>
        <div class="column large-4">
            <img src="img/what-i-get-img.jpg" class="section-whatiget--illustration">
        </div>
     </div>
</section>

<section id=contacts class="section-contacts" >
    <div class="flx-row align-center text--center">
        <div class="column small-12 medium-8 large-6">
            <h2 class="section-title--big">Замовте зворотній зв'язок</h2>
            <p class="text--medium">Будь ласка, залиште ваш номер і ми з вами зв'яжемося.</p>
            <p class="text--small">*Якщо ви подзвонили у неробочий час, то ми вам зателефонуємо пізніше.</p>
            <form name="send-phone">
                <div class="flx-row">
                    <div class="column small-7">
                      <input type="text" class="u-input is--big phone_with_ddd" placeholder="+38">
                    </div>
                    <div class="column small-5">
                        <button class="u-btn primary is--big" type="submit">відправити</button>
                    </div>
            </form>
        </div>
    </div>
</section>

<section class="section-map" id=map >
    <div class="flx-row collapse">
        <div class="column sma">
            <h2 class="section-title--big with-border">Контакти клініки<br> «Здорова Сім’я»</h2>
            <div class="flx-row section-map--contacts">
                <div class="column small-12 medium-4">
                    (044) 235-235-8<br>
                    (044) 220-02-72<br>
                    (044) 220-02-70
                </div>
                <div class="column">
                    м. Київ,<br>
                    вул. Круглоуніверситетська, 3–5<br>
                    <a href="mailto:zdorovasimya@ukr.net">zdorovasimya@ukr.net</a>
                </div>
            </div>
        </div>
        <div class="column shrink">
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.886535439194!2d30.520963651328398!3d50.443214079373604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5596a93d6f%3A0x90d5336e156242f8!2z0LLRg9C70LjRhtGPINCa0YDRg9Cz0LvQvtGD0L3RltCy0LXRgNGB0LjRgtC10YLRgdGM0LrQsCwgMy01LCDQmtC40ZfQsiwgMDEwMjQ!5e0!3m2!1sru!2sua!4v1513721192352" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
