@media screen and (max-width: 680px) {
  .section-myhelix .section-text,
  .section-clinic .section-text {
    max-width: 90%;
  }

  .section-healthy {
    img {
      margin-top: 30px;
    }
  }

  .section-clinic--illustration {
    height: 160px;
  }

  .section-clinic {
    padding: 40px 20px;
  }

  .section-doctors--brief {
    margin: 10px 0 30px;
  }

  .section-myhelix,
  .section-how,
  .section-doctors {
    padding: 40px 0;
  }

  .section-tests {
    &--lines {
      padding: 0;
    }

    &--container {
      margin-bottom: 30px;
    }
  }

  .section-whatiget--illustration {
    width: auto;
    margin: 0;
  }

  .violet-box {
    padding: 30px;
  }

  .map-container {
    margin-top: 30px;
    max-width: 400px;
  }

  .section-how .section-title--big {
    margin-bottom: 30px;
  }

}


@media screen and (max-width: 900px) and (min-width: 680px) {
  .section-tests--table td {
    padding: 3px;
  }
}

@media screen and (max-width: 1100px) {
  .page-header .page-header--nav li {
    margin-right: .6rem;
  }

  .page-header .u-btn {
    line-height: 39px;
  }
}