{% set
  menu = [
  	{
  	  name: 'Параметры',
      href: '#'
  	},
  	{
      name: 'Справочники',
      href: '#',
      current: true
  	},
    {
      name: 'Ресурсы',
      href: '#'
  	},
    {
      name: 'Логи',
      href: '#'
  	},
    {
      name: 'Техническое',
      href: '#'
  	},
    {
      name: 'Сообщения клиенту',
      href: '#'
    },
    {
      name: 'Реклама',
      href: '#'
    },
    {
      name: 'Cross-Sell',
      href: '#'
    },
    {
      name: 'Клиенты',
      href: '#'
    },
    {
      name: 'Управление',
      href: '#'
    }
  ]
%}

{% set
  labels = {
    categoryLabel: 'Категория',
    saveLabel: 'Сохранить',
    changeLabel: 'Изменить',
    clearLabel: 'Очистить'
  }
%}
