{% import "data/_data.html" as texts %}

<header class="page-header">
    <div class="fixed-nav">
        <div class="container">
        <div class="flx-row align-middle">
            <div class="column shrink">
                <div class="page-header--logo"><img src="img/logo.svg" /></div>
            </div>
            <div class="column hidden-md">
                <div class="menu">
                    <nav class="page-header--nav">
                      <ul class="inline-nav">
                        <li><a data-scroll class="menu-item" data-href="#about">Про проект</a></li>
                        <li><a data-scroll class="menu-item" data-href="#myhelix">Про Myhelix</a></li>
                        <li><a data-scroll class="menu-item" data-href="#clinic">Про клиiнiку</a></li>
                        <li><a data-scroll class="menu-item" data-href="#howtodotest">Як зробити тест?</a></li>
                        <li><a data-scroll class="menu-item" data-href="#whatiget">Що я отримаю?</a></li>
                        <li><a data-scroll class="menu-item" data-href="#contacts">Контакти</a></li>
                        <li><a data-scroll class="u-btn primary" data-href="#contacts">Поставити запитання</a></li>
                        <li><a class="menu-item" href="#">ru</a></li>
                      </ul>
                    </nav>
                </div>
            </div>
            <div class="column text--right visible-md">
                <a data-scroll class="u-btn primary" href="#contacts">Поставити запитання</a>
                <div class="navigation-button"><i class="fa fa-bars"></i></div>
                <div class="navigation-button-close"><img src="img/icon-close.svg"></div>
            </div>
        </div>
        <div class="page-header--mobile-menu">
            <ul class="inline-nav">
                <li><a data-scroll class="menu-item" data-href="#about">Про проект</a></li>
                <li><a data-scroll class="menu-item" data-href="#myhelix">Про Myhelix</a></li>
                <li><a data-scroll class="menu-item" data-href="#clinic">Про клиiнiку</a></li>
                <li><a data-scroll class="menu-item" data-href="#howtodotest">Як зробити тест?</a></li>
                <li><a data-scroll class="menu-item" data-href="#whatiget">Що я отримаю?</a></li>
                <li><a data-scroll class="menu-item" data-href="#contacts">Контакти</a></li>
            </ul>
        </div>
        </div>
    </div>

    <section class="section--video">
        <h1 class="section--video-title"><span class="long-line"></span>Генам видніше <br>
            <span class="text--regular"><span class="float--left">яка їжа</span>
        <span class="long-line left-margin"></span><span class="small"> корисна для вас</span></span></h1>
        <video class="my-background-video jquery-background-video" loop autoplay muted poster=img/header-image.jpg">
            <source src="img/clinic-video.mp4" type="video/mp4">
            <source src="img/clinic-video.webm" type="video/webm">
            <source src="img/clinic-video.ogg" type="video/ogg">
        </video>
    </section>
</header>
