<section class="section-habits">
    <div class="habits-slider">
        <div class="habits-slider-slide">
            <div class="img-slider owl-carousel">
                <img class="" src="img/habits-slider/habits-slide-1.jpg" srcset="img/habits-slider/habits-slide-1.jpg 1x, img/habits-slider/habits-slide-1-2x.jpg 2x" alt="">
                <img class="" src="img/habits-slider/habits-slide-2.jpg" srcset="img/habits-slider/habits-slide-2.jpg 1x, img/habits-slider/habits-slide-2-2x.jpg 2x" alt="">
                <img class="" src="img/habits-slider/habits-slide-3.jpg" srcset="img/habits-slider/habits-slide-2.jpg 1x, img/habits-slider/habits-slide-3-2x.jpg 2x" alt="">
            </div>

            <div class="slide-top-content">
                <h2 class="section-title--big slide-title">Генам видніше, яка їжа корисна для вас.</h2>
                <div class="slide-subtitle">Ваша генетика підкаже, що  їсти, від чого відмовитись, а ви зробите це звичкою.</div>
            </div>

            <div class="slide-bottom-content">
                <div class="text-slider owl-carousel">
                    <div class="text-slide">Спочатку ми проаналізуємо 40 показинків вашої ДНК з харчування, що відповідають за засвоєння та детоксикацію нутрієнтів, і визначемо сильні та слабкі сторони вашого організму.</div>
                    <div class="text-slide">На основі досліджених варіантів генів, що впливають на особливості вашого травлення (реакція на вироби, що містять глютен, молочні продукти), на здоров’я серця, судин (жири, вітаміни групи B) та репродуктивну систему (схильність до високого рівня гомоцистеїну, якість засвоєння вітаміну E) порадимо корисні продукти та складемо план дій саме для вас.</div>
                    <div class="text-slide">Науково обґрунтовані рекомендації з харчування — це ваш план дій до здорового довголіття. Окрім генетики у порадах ми також враховуємо індекс маси тіла, вік, стать і звички.</div>
                </div>

                <div class="slider-nav">
                    <a href="#" class="control left-control"></a>
                    <div class="slider-nav-steps">
                        <a href="#" data-id="0" class="step active">крок 1</a>
                        <a href="#" data-id="1" class="step">крок 2</a>
                        <a href="#" data-id="2" class="step">крок 3</a>
                        <a href="#" class="current-slide-marker"></a>
                    </div>
                    <a href="#" class="control right-control"></a>
                </div>
            </div>
        </div>
        <a href="/pdf/download" class="download-example-pdf">Приклад результату <img src="img/download.svg"></a>
    </div>
</section>
